@import "tailwindcss";

@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';

@plugin "daisyui" {
  themes: ;
}

html {
  scroll-behavior: smooth;
}

@theme {
  --color-beige: #fbf5e4;
  --color-beige-hover: #fdfcf7;
  --color-beige-focused: #f9f5e7;
  --color-beige-selected: #e7d59d;

  --color-red: #801424;
  --color-red-hover: #af303b;
  --color-red-focused: #801424;
  --color-red-selected: #5d181f;

  --color-green: #8c955e;
  --color-green-hover: #a6ab81;
  --color-green-focused: #8e9464;
  --color-green-selected: #565a3d;
}

@import url("https://fonts.googleapis.com/css2?family=Mansalva&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer components {
}

@layer utilities {
  .font-display {
    font-family: "Mansalva", sans-serif;
  }

  .font-paragraf {
    font-family: "Poppins", sans-serif;
  }

  .font-header {
    font-family: "Oswald", sans-serif;
  }
}
