---
import MainLayout from "../layouts/MainLayout.astro";
import Nyhedsbrev from "../components/Nyhedsbrev.astro";
import Heading from "../components/Heading.astro";
import Button from '../components/Button.astro';
import Billet from '../components/Billet.astro';
import Link from '../components/Link.astro';
import { Image } from 'astro:assets';
import thumbsup from "../assets/images/thumbsup.png";
---
<MainLayout title="Køb billet - Odense Vinfestival">

	<section>
		<div class="hero min-h-screen relative overflow-hidden bg-cover bg-center bg-no-repeat" style="background-image: url('https://i.imgur.com/g4ygGuW.jpeg');">
		  
		 
	  
		  {/* Header placeres absolut */}
		  <div class="fixed top-2 p-2 w-full z-50">
		  </div>
	  
		  {/* Overlay */}
		
	  
		  {/* Content */}
		  <div class="hero-content z-20 relative">
			<div>
        <h1 class="text-beige font-display lg:text-7xl md:text-6xl xs:text-6xl xs:pt-8 pb-8">Køb din billet</h1>
        <h2 class="text-beige font-header lg:text-4xl md:text-3xl md:max-w-100 xs:text-2xl pb-8">VI GLÆDER OS TIL AT SE DIG</h2>

              <section class="md:grid grid-cols-2 gap-10 ">
                <div class="xs:pb-8">
                <Billet
                url="/singleview"
                cardimage="https://i.imgur.com/6vskIk5.jpeg"
                  cardimagealt="1"
                  cardtitel="DAGSBILLET, 25 APRIL 2026"
                  cardundertitel="kl. 12.30 – 15.30"
                  cardtekst="Særligt inkluderet:"
				  cardlist1="Oplæg om naturvin m. Bo Andersen"
				  cardlist2="Særlig smagsprøver på naturvine"
				  cardlist3="Oplæg af vinimportør Signe Beck"
                  cardpris="169 kr."
                  cardbuttontekst="LÆG I KURV" 
                  badgenyt="false"
                  badgerabat="false"
                  badgefaatilbage="false"></Billet>
                </div>
                <div>
                  <Billet
                  url="/singleview"
                    cardimage="https://i.imgur.com/prikZBE.jpeg"
                    cardimagealt="1"
                    cardtitel="AFTENBILLET, 25 APRIL 2026"
                    cardundertitel="kl. 16.30 – 19.30"
                    cardtekst="Særligt inkluderet:"
				  cardlist1="Oplæg af sommerlier Søren Fris"
				  cardlist2="Kursus i vinsmagning"
				  cardlist3="Fri tapasbuffet af Norma"
                     cardpris="199 kr."
                    cardbuttontekst="Læg i kurv" 
                    badgenyt="true"
                    badgerabat="false"
                    badgefaatilbage="false"></Billet>
                  </div>
              </section>
			</div>
		  </div>
		</div>
	  </section>
    <section class="bg-beige">
    <Nyhedsbrev></Nyhedsbrev>
</section>
</MainLayout>