---
import MainLayout from "../layouts/MainLayout.astro";
import Nyhedsbrev from "../components/Nyhedsbrev.astro";
import Button from '../components/Button.astro';
import Billet from '../components/Billet.astro';
import Link from '../components/Link.astro';
import { Image } from 'astro:assets';
import thumbsup from "../assets/images/thumbsup.png";
---
<MainLayout title="Billetter">

	<section>
		<div class="hero min-h-screen relative overflow-hidden">
		  
		  {/* img baggrund */}
		 <img src="https://i.imgur.com/g4ygGuW.jpeg" alt="billede">
	  
		  {/* Header placeres absolut */}
		  <div class="fixed top-2 p-2 w-full z-50">
		  </div>
	  
		  {/* Overlay */}
		
	  
		  {/* Content */}
		  <div class="hero-content z-20 relative">
			<div>
			  <h1 class="mb-5 text-7xl font-display text-beige">Køb din billet</h1>
			  <h2 class="mb-5 text-2xl font-header text-beige">
				Vi glæder os til at se dig
			  </h2>
              <Billet></Billet>
			
			</div>
		  </div>
		</div>
	  </section>
    <section>
    <Nyhedsbrev></Nyhedsbrev>
</section>

	

	<article>
		<h1>Index overskrift</h1>
		<Button variant="primary" size="small">Klik!</Button>
		<Button variant="primary" size="medium">Klik!</Button>
		<Button variant="primary" size="large">Klik!</Button>
		<Button variant="secondary" size="small">Klik!</Button>
		<Button variant="secondary" size="medium">Klik!</Button>
		<Button variant="secondary" size="large">Klik!</Button>
		<Button variant="tertiary" size="small">Klik!</Button>
		<Button variant="tertiary" size="medium">Klik!</Button>
		<Button variant="tertiary" size="large">Klik!</Button>
		<p>Link til <Link href="https://www.kea.dk" target="_blank">En anden side</Link></p>
		<Image src={thumbsup} alt=""></Image>
	</article>
</MainLayout>