---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import Link from '../components/Link.astro';
import { Image } from 'astro:assets';
import thumbsup from "../assets/images/thumbsup.png";
import Nyhedsbrev from "../components/Nyhedsbrev.astro";
import Nyhedsbrevred from '../components/Nyhedsbrevred.astro';
import Nyhedsbrevgreen from "../components/Nyhedsbrevgreen.astro";
---

<MainLayout title="Galleri - Odense Vinfestival"><section class="w-full bg-beige">
    <div class="max-w-6xl mx-auto p-6">
      <h1 class="mb-5 text-7xl font-display text-red text-center">Galleri fra 2025</h1>

      <div class="grid grid-cols-2 gap-4 md:grid-cols-4 w-full bg-beige">
        <div class="grid gap-4">
          <div>
            <img loading="lazy" class="h-auto max-w-full  object-cover object-center" src="/galleri1.jpg" alt="Galleri billede 1" />
          </div>
          <div>
            <img loading="lazy" class="h-auto max-w-full  object-cover object-center" src="/galleri2.jpg" alt="Galleri billede 2" />
          </div>
          <div>
            <img loading="lazy" class="h-auto max-w-full  object-cover object-center" src="/galleri3.jpg" alt="Galleri billede 3" />
          </div>
        </div>

        <div class="grid gap-4">
          <div>
            <img loading="lazy" class="h-auto max-w-full  object-cover object-center" src="/galleri4.jpg" alt="Galleri billede 4" />
          </div>
          <div>
            <img loading="lazy" class="h-auto max-w-full  object-cover object-center" src="/galleri5.jpg" alt="Galleri billede 5" />
          </div>
          <div>
            <img loading="lazy" class="h-auto max-w-full  object-cover object-center" src="/galleri6.jpg" alt="Galleri billede 6" />
          </div>
        </div>

        <div class="grid gap-4">
          <div>
            <img loading="lazy" class="h-auto max-w-full  object-cover object-center" src="/galleri7.jpg" alt="Galleri billede 7" />
          </div>
          <div>
            <img loading="lazy" class="h-auto max-w-full  object-cover object-center" src="/galleri8.jpg" alt="Galleri billede 8" />
          </div>
          <div>
            <img loading="lazy" class="h-auto max-w-full  object-cover object-center" src="/galleri9.png" alt="Galleri billede 9" />
          </div>
        </div>

        <div class="grid gap-4">
          <div>
            <img loading="lazy" class="h-auto max-w-full  object-cover object-center" src="/galleri10.png" alt="Galleri billede 10" />
          </div>
          <div>
            <img loading="lazy" class="h-auto max-w-full  object-cover object-center" src="/galleri11.png" alt="Galleri billede 11" />
          </div>
        </div>
      </div>
    </div>
  </section>
<section>
  <Nyhedsbrevgreen></Nyhedsbrevgreen>
</section>