---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import Vincard from '../components/Vincard.astro';
import Heading from '../components/Heading.astro';
import Link from '../components/Link.astro';
import Udstiller from '../components/Udstiller.astro';
import Nyhedsbrev from '../components/Nyhedsbrev.astro';
import { Image } from 'astro:assets';
import thumbsup from "../assets/images/thumbsup.png";
---
<MainLayout title="Home - Odense Vinfestival">

	<section>
		<div class="min-h-screen relative overflow-hidden">
	  
		  <!-- Vinflaske -->
		  <img src="/vinflaske.svg" alt="vinflaske" class="absolute top-0 left-290 z-10 w-48 md:w-64 lg:w-72 pointer-events-none" />
	  
		  <!-- Video baggrund -->
		  <video
			autoPlay
			muted
			loop
			playsInline
			class="absolute w-full h-full object-cover z-0"
		  >
			<source src="https://i.imgur.com/X8bkhRr.mp4" type="video/mp4" />
			Din browser understøtter ikke HTML5 video.
		  </video>
	  
		  <!-- Header -->
		  <div class="fixed top-2 p-2 w-full z-50">
			
		  </div>
	  
		  <!-- Content -->
		  <div class="z-20 relative pl-12 pt-70">
			<Heading size="xlarge" variant="primary">ODENSE VINFESTIVAL</Heading>
			<Heading size="small" variant="primary">25 APRIL 2026</Heading>
			<Heading size="small" variant="primary">Sæt kryds i kalenderen og gør dig klar til en eventyrlig vinoplevelse!</Heading>
			<Button variant="primary" size="medium"><a href="/billetter">KØB BILLET</a></Button>
		  </div>
		</div>
	  </section>
	  
	  

	<!-- VINKLATTEN OG NYE CONTENT (sektion 2) -->
	<section class=" relative z-10 -mt-24 sm:-mt-40 lg:-mt-[470px]">
		<img
		  src="https://i.imgur.com/5BvLvaQ.png"
		  alt="Vinklat"
		  class="absolute top-0 left-0 w-full h-auto z-0 pointer-events-none"
		/>
	  
		<div class="relative z-10 px-4 sm:px-10 pt-32 sm:pt-52 lg:pt-[560px] pb-5 max-w-4xl mx-auto">
		  <!-- Content -->
		  <Heading size="large" variant="primary">HVAD ER ODENSE VINFESTIVAL?</Heading>
			<Heading size="small" variant="primary">Den 25. april 2026 forvandles den smukke, rustikke GASA-bygning i Odense til et sandt paradis for vinelskere, når Odense Vinfestival åbner dørene.</Heading>
			<Heading size="small" variant="primary">Her mødes 25 passionerede vinimportører med vine fra både kendte og oversete områder – alt fra sprøde hvidvine til dybe, komplekse rødvine. Glæd dig til at smage over 200 håndplukkede kvalitetsvine, typisk fra små, unikke producenter med et personligt smageglas.</Heading>
			<Heading size="small" variant="primary">Du får også adgang til et online smagekatalog med alle vinene og mulighed for at købe dine favorit vine til fordelagtige priser.</Heading>
			<Heading size="small" variant="primary">Odense Vinfestival er skabt af Foreningen af Danske Vinimportører, så du kan forvente det bedste fra hylderne – i flere prisklasser og fra vinmarker verden over.</Heading>
			<section class="flex flex-col sm:flex-row gap-15 justify-center pt-15">
			<Button variant="tertiary" size="medium"><a href="#nyhedsbrev">TILMELD HYHEDSBREV</a></Button>
			<Button variant="secondary" size="medium"><a target="_blank" href="https://odensevinfestival.dk/wp-content/uploads/2025/04/Katalog-v01.pdf">DOWNLOAD VINKATALOG</a></Button>
		</section>
		</div>
	  </section>
	  

	  <section class="bg-beige pb-15 lg:pt-80 text-red">
		<Heading htmlheading="h2" space="normal" size="large" variant="secondary">HVAD KAN DU FORVENTE?</Heading>
		<section class="flex flex-auto justify-center gap-30 pt-8">
			<div class="">
				<img class="h-30" src="/importoere.svg" alt="importøre">
				<p class="pt-5"> 25 passionerede vinimportører</p>
			</div>
			<div class="">
				<img class="h-30" src="/vin.svg" alt="vin">
				<p class="pt-5">Smag 200 forskellige vine</p>
			</div>
			<div class="">
				<img class="h-30" src="/foredrag.svg" alt="foredrag">
				<p class="pt-5">3 foredrag fra dygtige sommerliere</p>
			</div>
		</section>
	  </section>

	  <section class="bg-green pb-15 pt-15">
		<Heading htmlheading="h2" space="normal" size="large" variant="primary">SE ÅRETS VIN HER</Heading>
		<section class="grid grid-cols-3">
			<div>
		<Vincard
		cardimage="https://i.imgur.com/Gi7V794.jpeg"
		cardimagealt=""
		cardtitel=""
		dropdowntitel="Borsao Classico 2019"
		dropdowncontent="Borsao Clásico 2019 er en frugtdrevet spansk rødvin fra Campo de Borja, lavet primært på Garnacha. Den har aroma af modne røde bær, en blød og fyldig smag samt en behagelig syre. En alsidig vin, der passer godt til kødretter og oste. God kvalitet til prisen."
		></Vincard>
	</div>
	<div>
		<Vincard
		cardimage="https://i.imgur.com/yKfqVJO.jpeg"
		cardimagealt=""
		cardtitel=""
		dropdowntitel="Grand Barossa Shiraz 2017"
		dropdowncontent="Grand Barossa Shiraz 2017 fra Château Tanunda er en kraftfuld og kompleks rødvin fra Barossa Valley i Australien. Vinen er lavet på 100 % Shiraz-druer og lagret i op til 18 måneder på en kombination af nye og brugte franske og amerikanske egetræsfade, hvilket giver dybde og krydderi "
		></Vincard>
	</div>
	<div>
		<Vincard
		cardimage="https://i.imgur.com/KgnH5A1.jpeg"
		cardimagealt=""
		cardtitel=""
		dropdowntitel="Fiagre Campania Bianco 2013"
		dropdowncontent="Fiagre Campania Bianco 2013 er en hvidvin fra det italienske vinhus Antonio Caggiano i Campania-regionen. Vinen er lavet på en blanding af 70 % Fiano di Avellino og 30 % Greco di Tufo, hvilket giver en kompleks og aromatisk profil med noter af hvide frugter og blomster. Den har en alkoholprocent på 13,5 % og er kendt for sin balance og friskhed."
		></Vincard>
	</div>
	</section>
	<div class="flex flex-auto justify-center pt-8">
	<Button variant="primary" size="medium"><a href="https://odensevinfestival.dk/wp-content/uploads/2025/04/Katalog-v01.pdf">Download Vinkatalog</a></Button>
</div>
	  </section>

	  <section class="bg-red pb-15 pt-15">
		<Heading htmlheading="h2" size="large" space="normal" variant="primary">SE ÅRETS VIN HER</Heading>
		<Udstiller></Udstiller>
		<section class="flex flex-auto gap-10 justify-center pt-8 ">
			<div>
		<Button variant="tertiary" size="medium"><a href="https://odensevinfestival.dk/wp-content/uploads/2025/04/Katalog-v01.pdf">Download Vinkatalog</a></Button>
	</div>
	<div>
		<Button variant="secondary" size="medium"><a href="/udstiller">Læs mere</a></Button>
	</div>
		</section>

	  </section>

	  <section id="nyhedsbrev" class="bg-beige">
		<Nyhedsbrev></Nyhedsbrev>
	  </section>

</MainLayout>