---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import Link from '../components/Link.astro';
import { Image } from 'astro:assets';
import thumbsup from "../assets/images/thumbsup.png";
import Nyhedsbrev from "../components/Nyhedsbrev.astro";
---

<MainLayout title="Titel">
    <section class="bg-beige">
        
        <h1 class="mb-5 lg:text-7xl font-display text-red text-center p-20   xs:text-3xl">kontakt</h1>

         <!-- Formular til højre -->
      <div class="w-full p-15">
        <h2 class=" xs:text-xl  text-3xl  font-oswald font-bold mb-6 text-red text-center md:text-left">
          Hej! har du brug for at komme i kontakt med os?
        </h2>

        <form class="p-4 space-y-6">
          <input 
            type="text" 
            name="fornavn" 
            placeholder="Hvad hedder du?" 
            required
            class="lg:w-100 xs:w-80 p-5 xs:text-xs lg:text-lg border border-red bg-beige text-red placeholder-red rounded-xl focus:outline-none focus:ring-2 focus:ring-beige transition"
          />
<br>
          <input 
            type="email" 
            name="email" 
            placeholder="Hvilken email kan vi skrive tilbage til dig på?" 
            required
            class=" lg:w-100 xs:w-80 p-5 xs:text-xs lg:text-lg border border-red text-red bg-beige placeholder-red rounded-xl focus:outline-none focus:ring-2 focus:ring-beige transition"
          />
<br>
          <input 
            type="text" 
            name="besked" 
            placeholder="Hvad vil du gerne dele med os? ..." 
            required
            class=" lg:w-100 xs:w-80 p-5 xs:text-xs lg:text-lg border border-red bg-beige text-red placeholder-red rounded-xl focus:outline-none focus:ring-2 focus:ring-beige transition"
          />
<br>
          <button 
            type="submit" 
            class="p-4 py-4 text-lg font-semibold bg-red text-beige rounded-xl hover:bg-white transition"
          >
            INDSEND
          </button>
        </form>
      </div>

    <Nyhedsbrev></Nyhedsbrev>

	
	</section>
</MainLayout>