---
import Button from '../components/Button.astro';
---

<header class="navbar bg-red px-4 ">
  <div class="flex-1">
    <a class="btn btn-ghost text-xl" href="/">
      <img src="/logo.svg" alt="logo">
    </a>
  </div>

  <!-- Desktop navigation (skjules på mobil) -->
  <nav class="hidden lg:flex text-beige text-header">
    <ul class="menu menu-horizontal px-1 text-xl ">
     
      <li><a href="/udstiller">KATALOG</a></li>
      <li><a href="/udstiller">UDSTILLERE</a></li>
      <li><a href="/galleri">GALLERI</a></li>
      <li><a href="/kontakt">KONTAKT</a></li>
      <li><a href="/billetter"><Button variant="secondary" size="small">Køb billet</Button></a></li>
    </ul>
  </nav>

  <!-- Mobil burger menu (skjules på desktop) -->
<div class="lg:hidden">
  <div class="dropdown dropdown-end">
    <div tabindex="0" role="button" class="btn btn-ghost btn-circle">
      <svg xmlns="http://www.w3.org/2000/svg" 
           class="h-5 w-5 stroke-beige" 
           fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round"
              stroke-width="2" d="M4 6h16M4 12h16M4 18h16"/>
      </svg>
    </div>
    <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-red text-oswald text-beige w-52">
      <li><a href="/udstiller">KATALOG</a></li>
      <li><a href="/udstiller">UDSTILLERE</a></li>
      <li><a href="/galleri">GALLERI</a></li>
      <li><a href="/kontakt">KONTAKT</a></li>
    </ul>
  </div>
</div>
</header>
