---
---
<div>
    <div class="navbar bg-red text-beige text-oswald" >
        <div class="flex-1">
          <a class="btn btn-ghost text-xl">daisyUI</a>
        </div>
        <div class="flex-none">
          <ul class="menu menu-horizontal px-1">
            <li><a>KATALOG</a></li>
            <li><a>UDSTILLERE</a></li>
            <li><a>GALLERI</a></li>
            <li><a>KONTAKT</a></li>
            <li><a>KØB BILLET</a></li>
            <li>

            </li>
          </ul>
        </div>
      </div></div>
