---
 
// Henter parametrene fra Astro.props
const { href="#", target="_self", variant= "tekstlink", size = "default" } = Astro.props; 
 
 
//Definer den styling (Tailwind classes, der gør sig gældende for alle links
const linkStyling = ""; 
 
 
//Definer den styling (Tailwind classes), der gør sig gældende for de forskellige varianter 
const variantClasses = {
"textlink": "underline font-paragraf",
"primary": "bg-red text-beige  transition delay-150 duration-200 ease-in-out hover:-translate-y-1 hover:bg-red-hover selected:bg-red-selected px-8 py-2  rounded-xl shadow-md font-header uppercase cursor-pointer",
"secondary": "btn my-2 btn-secondary"
 
};
 
 
//Definer den styling (Tailwind classes), der gør sig gældende for de forskelligeog størrelser.
const sizeClasses = {
"default": "",
"large": "btn-lg",
"medium": "",
"small": "btn-sm"
};
 
---
 
<!--Sæt classes for den pågældende knap sammen ved hjælp af Astros class:list -->
<a href={href} target={target} class:list={[linkStyling, variantClasses[variant], sizeClasses[size]]}><slot /></a>
