<section class="whitespace-nowrap overflow-x-hidden bg-pink-800 py-4">
    <!-- Første række af billeder -->
    <div class="inline-block animate-infinite-scroll whitespace-nowrap [&_img]:mx-6">
      <img src="https://placekitten.com/200/120" class="inline-block rounded shadow-md h-24 w-auto" />
      <img src="https://placebear.com/200/120" class="inline-block rounded shadow-md h-24 w-auto" />
      <img src="https://placebeard.it/200x120" class="inline-block rounded shadow-md h-24 w-auto" />
      <img src="https://picsum.photos/200/120?grayscale" class="inline-block rounded shadow-md h-24 w-auto" />
      <img src="https://source.unsplash.com/random/200x120" class="inline-block rounded shadow-md h-24 w-auto" />
    </div>
  
    <!-- Duplikeret række for at sikre uendelig scroll -->
    <div class="inline-block animate-infinite-scroll whitespace-nowrap [&_img]:mx-6" aria-hidden="true">
      <img src="https://placekitten.com/200/120" class="inline-block rounded shadow-md h-24 w-auto" />
      <img src="https://placebear.com/200/120" class="inline-block rounded shadow-md h-24 w-auto" />
      <img src="https://placebeard.it/200x120" class="inline-block rounded shadow-md h-24 w-auto" />
      <img src="https://picsum.photos/200/120?grayscale" class="inline-block rounded shadow-md h-24 w-auto" />
      <img src="https://source.unsplash.com/random/200x120" class="inline-block rounded shadow-md h-24 w-auto" />
    </div>
  </section>