<section class="whitespace-nowrap overflow-x-hidden py-4">
    <!-- Første række af billeder -->
    <div class="inline-block animate-infinite-scroll whitespace-nowrap [&_img]:mx-6">
      <img src="https://i.imgur.com/WduiqWb.jpeg" class="inline-block rounded-xl shadow-md  w-auto" />
      <img src="https://i.imgur.com/tANyaSz.jpeg" class="inline-block rounded-xl shadow-md  w-auto" />
      <img src="https://i.imgur.com/vyka8JQ.jpeg" class="inline-block rounded-xl shadow-md  w-auto" />
      <img src="https://i.imgur.com/WduiqWb.jpeg" class="inline-block rounded-xl shadow-md w-auto" />
      <!-- <img src="https://i.imgur.com/tANyaSz.jpeg" class="inline-block rounded-xl shadow-md w-auto" /> -->
    </div>
  
    <!-- Duplikeret række for at sikre uendelig scroll -->
    <div class="inline-block animate-infinite-scroll whitespace-nowrap [&_img]:mx-6" aria-hidden="true">
        <img src="https://i.imgur.com/WduiqWb.jpeg" class="inline-block rounded-xl shadow-md  w-auto" />
        <img src="https://i.imgur.com/tANyaSz.jpeg" class="inline-block rounded-xl shadow-md  w-auto" />
        <img src="https://i.imgur.com/vyka8JQ.jpeg" class="inline-block rounded-xl shadow-md  w-auto" />
        <img src="https://i.imgur.com/WduiqWb.jpeg" class="inline-block rounded-xl shadow-md w-auto" />
        <img src="https://i.imgur.com/tANyaSz.jpeg" class="inline-block rounded-xl shadow-md w-auto" />
    </div>
  </section>

  