---
import Heading from '../components/Heading.astro';
import Link from '../components/Link.astro';

const { url="#", cardimage="", cardimagealt="", cardtitel="", dropdowntitel="", dropdowncontent="",
 } = Astro.props;
---

<div class="p-8 w-full">
  <div class="card ">
    <figure class="shadow-xl rounded-xl overflow-hidden h-100">
      <img src={cardimage} alt={cardimagealt} />
    </figure>
    <div class="card-body text-red font-paragraf text-md ">
      <div tabindex="0" class="collapse collapse-arrow bg-beige shadow-md w-full">
        <div class="collapse-title font-semibold">{dropdowntitel}</div>
        <div class="collapse-content text-md">
            {dropdowncontent}
        </div>
      </div>
    </div>
  </div>
  </div>